{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Name and City</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="id" value="{{ .Id }}" />
      <label> Nama </label><input type="text" name="nama" value="{{ .Nama }}"/><br />
      <label> JK </label>
      <input type="radio" name="jk" value="L" selected/> L 
      <input type="radio" name="jk" value="P" /> P
      <br />
      <label> Alamat </label><textarea name="alamat">{{ .Alamat }}</textarea><br />
      <input type="submit" value="Save" />
    </form>
  {{ template "Footer" }}
{{ end }}